<nav class="navbar navbar-dark bg-dark p-3 "> 
 <div class="container">
     <div class="container navbar-item border-bottom position-relative">
        <% if user_signed_in? %>
      <p class="navbar-brand text-white container">ようこそ<%= current_user.nickname %>さん<i class="far fa-laugh"></i></p> 
         <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "font-weight-bold text-white position-absolute", style:"top:50px; left:1000px;"%>
          <% else%>
         <%= link_to 'ログイン', new_user_session_path, class: "font-weight-bold text-white container"%>
         <%= link_to '新規登録', new_user_registration_path, class: "font-weight-bold text-white text-center"%>
          <% end%>
      </div> 
           <% if user_signed_in? %>  
        <%= link_to "マイページ", user_path(current_user.id), class: "font-weight-bold text-white text-center ml-5 mt-2"%> 
           <% end %>    

         <form class="container d-flex mt-3">
         <%= form_with( url:search_users_path, local: true, method: :get, class: "search-form") do |f|%>
         <%= f.select(:option, options_for_select([["カテゴリー", ""],["食事", "1"],["スキンケア","2"]]))%>
         <%= f.text_field :keyword, placeholder: "検索", class:"form-control"%>
         <%= f.submit "検索", class: "btn btn-outline-light" %>
         <% end %>
       </form>
    </div>  
</nav>
