<div class="main bg-dark" style="min-height:900px;">
         <%= render "shared/secondheader" %>
          <p class="h2 text-white text-center m-5">フォロー数ユーザーランキング</p>
        <% @user_relations.each.with_index do |relation, i|%>
          <%= link_to root_path, style:"text-decoration: none;" do%>
              <table class="tablemt-3  container border-bottom border-secondary">
                 <tbody> 
                    <tr> 
                     <th ><h2 class="h2 mr-5 text-white" style="text-decoration: none;"><%= i+1 %>位</h2></th>
                      <% if relation.image? %>
                         <%= image_tag relation.image.url, class:"rounded-circle", style:"width: 200px; height:200px" %>
                       <% else %>
                          <%= image_tag "noimage-01.png", class:"rounded-circle", style:"width: 200px; height:200px" %>
                      <% end %> 
                        <td class= "container">
                           <h2 class="badge bg-info ml-3"><%= relation.nickname %></h2>
                        </td>
                    </tr>
                 </tbody>
              </table>
          <% end %>
        <% end %>
     <%= render "shared/footer"%>
</div>