<div class="main bg-dark" style="min-height:900px;">
   <%= render "shared/secondheader" %>
      <p class="h2 text-white text-center m-5">閲覧数ランキング</p>
        <% @rank_information.each.with_index do |information,i|%>
          <%= link_to information_path(information.id), style:"text-decoration: none;" do%>
              <table class="container border-bottom border-secondary">
                 <tbody>
                    <tr>
                      <th ><h2 class="h2 mr-5 text-white" style="text-decoration: none;"><%= i+1 %>位</h2></th>
                      <% if information.image? %>
                        <td ><%= image_tag information.image.thumb.url, style:"width:300px; height:200px;"%></td>
                      <% else %>
                         <td><%= image_tag "noimage.png"%></td>
                      <% end %>  
                        <td class="container">
                           <p class=" badge bg-info"><%= information.tag.name %></p>
                           <div class="d-flex flex-column">
                           <h5 class="h5 text-center text-white font-weight-bold"><%= information.title%></h5>
                              <h3 class="h3 mt-5 text-center text-primary font-weight-bold">閲覧数</h3>
                               <h3 class="h3 text-primary text-center"><%= information.impression_count %></h3>
                          </div>
                        </td>
                    </tr>
                 </tbody>
              </table>
          <% end %>
        <% end %>
        <%= render "shared/footer"%>
      </div>