<%= render "devise/shared/header"%>

<div class="main ">
      <%= image_tag "image-03-s.png", class:"column is-full" %>
    </div>

  
  <h2 class="title has-text-centered py-3" style="border-bottom:1px solid">最新の投稿一覧</h2>

<section class="section">
 <div class="container">
  <div class="columns is-multiline">
  <% @informations.each do |information| %>
   <%= link_to information_path(information.id) do %>
   <div class="columns is-3">
    <div class="card" style= "margin:0 20px 40px 35px; height:400px; width:310px;">
     <div class="card-content">
      <div class="card-image">
       <figure class ="image">
       <% if information.image? %>
        <%= image_tag information.image.thumb.url %>
      <% else %>
       <%= image_tag "noimage.png" %>
      <% end %>
      </figure>
     </div>
    </div> 
     <div class="card-content">
      <div class="media">
       <div class="media-content">
        <div class="title"><%= information.user.nickname %></div>
        <div class="title is-size-6"><%= information.title %></div>
        <div class="content is-size-6"><%= information.updated_at.strftime("%Y-%m-%d %H:%M")%></div>
        </div>
       </div>
      </div> 
     </div>
     </div>
    <% end %>
    <% end %>
    </div>
   </div>
   </section>

  
  
  











