 
<div class="main bg-dark" >
  <%= render "shared/secondheader"%>
   <div class="mt-5">
    <p class="h1 container text-center text-white mb-5 border-bottom font-weight-bold">投稿画面</p>
   </div> 

   <%= form_with model: @information, url:informations_path, local: true do |f| %>

   <%= render 'devise/shared/error_messages', model: f.object %>

  <form>
    <div class="text-center text-white"><i class="fas fa-camera"></i></div>
  <div class="text-center">  
     <% if @information.image? %> 
     <%= image_tag @information.image.url, id:"img1", style:"width:300px;height:200px;"%>
     <% else %>
     <%= image_tag "noimage.png", id:"img1", style:"width:300px;height:200px;"%>
     <% end %>
     </div>
     <div class="text-center ml-5">
     <%= f.file_field :image, id:"myfile", class:"text-white" %>
     </div>

   <div class="container">
    <%= f.label :"タイトル(必須)", class:"text-white mt-3" %>
    <%= f.text_field :title, class:"form-control", placeholder:"タイトル名" %>
   </div>

   <div class="container mt-4">
      <%= f.label :"郵便番号(任意)", class:"text-white"%>
     <div class="d-flex">
      <%= f.text_field :postal_code, class:"form-control col-md-3",id:"zipcoding"%>
      <%= f.button "検索", class:"btn-white ml-2", type:"button", id:"posting" %>
       </div>
    </div>
    

   <div class="container">
    <%= f.label :"投稿に関する住所(任意)", class:"text-white mt-3" %>
    <%= f.text_field :address, class:"form-control",id:"addressing"%>
   </div>
   
  
   <div class="container">
    <%= f.label :"説明文(必須)", class:"text-white mt-5" %>
    <%= f.text_area :sentence, class:"form-control", rows:7, maxlength:"500", id:"textarea"%>
   </div>

   <div class="container">
     <div class="form-select">
   <%= f.label :"タグ(任意）", class:"text-white mt-3" %>
    <%= f.collection_select(:tag_id, Tag.all, :id, :name, {}) %>
      </div>
   </div>

   <div class="text-center m-5">
       <%= f.submit '投稿', class:"btn btn-light", style:"width:200px;" %>
    </div>
  <%end%>
   <%= render "shared/footer"%>
</div> 
 