<div class="main bg-dark ">
  <%= render "devise/shared/secondheader" %>
   <p class="h2 text-white text-center m-5">投稿詳細画面</p>
  
  <div class="container" style="margin-left:350px;">

   <div class="card mb-3 mt-5 text-center" style="width:700px; min-height:700px;">

    <% if @information.image? %>
       <%= image_tag @information.image.thumb.url, style:"width:700px; height:400px;"%>
    <% else %>
       <%= image_tag "noimage.png",style:"width:700px; height:400px;" %>
    <% end %>
       
 <div class="card-body">
      <h3 class="card-title h3 font-weight-bold"><%= @information.title %></h3>
      <p class="card-text  h5"><%= @information.sentence %></p>
      <p class="card-text"><small class="text-muted"><%= @information.user.nickname%></small></p>

         <% if @information.user.id == current_user.id %>
            <%= link_to "編集する", edit_information_path(@information.id), class:"btn btn-dark" %>
            <%= link_to "削除する", information_path(@information.id),method: :delete, class:"btn btn-dark" %>
          <% end %>
   </div>
  </div>
 </div>




   <%= render "devise/shared/footer"%>
</div>